@import '../../styles/variables';

.twitter-login__button {
    align-items: center;
    background-color: $twitter-dark;
    display: flex;
    margin: $spacing-lg auto;
    text-align: left;

    &:hover,&:active,&:focus {
        background-color: $twitter-light;
    }

    span {
        margin-right: $spacing-sm;
    }

    img {
        height: 26px;
        width: 32px;
    }
}

.twitter-login__smallprint {
    margin: $spacing-md 0 0 0;
    font-size: 0.8rem;
}
