@import './variables';

body {
  font-family: Oxygen, sans-serif;
}

h1 {
  color: $red;
}

h1,h2 {
  font-weight: 300;
}

p {
  line-height: 1.5;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    color: darken($red, 10);
  }
}

em {
  color: $red;
  font-style: normal;
}
