@import '../../styles/variables';

.app {
  align-items: center;
  flex-direction: column;
  padding: $spacing-lg;

  @media (min-width: $desktop-min-width) {
    flex-direction: row;
  }
}

.app__title {
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: $app-width;

  h1 {
    font-size: $title-font-size;
    text-align: center;
  }

  em {
    text-decoration: underline;
    text-transform: lowercase;
  }

  p {
    font-size: $title-font-size;
  }

  @media (min-width: $desktop-min-width) {
    flex: 0 1 $app-width;
    margin: auto $spacing-lg auto auto;
  }
}

.app__content {
  flex: 1 0 auto;
  margin: auto;
  max-width: $app-width;
  padding: $spacing-lg;

  @media (min-width: $desktop-min-width) {
    flex: 0 1 $app-width;
    margin: auto auto auto $spacing-lg;
    min-width: 0;
  }
}

.app__main {
  padding-bottom: $spacing-md;
}
