@import '../../styles/variables';

.tweet {
  p {
    margin-bottom: $spacing-md;
  }
}

.tweet__text {
  background: none;
  border-color: $red;
  box-sizing: border-box;
  height: 145px;
  margin-bottom: $spacing-md;
  max-width: 400px;
  padding: $spacing-lg;
  width: 100%;
}

.tweet__button {
  background-color: $twitter-dark;
  display: flex;

  span {
    margin-right: $spacing-sm;
  }

  img {
    width: 32px;
  }

  &:hover,&:focus,&:active {
    color: white;
    background-color: $twitter-light;
  }
}
